<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>
			Call room | <%= roomId %>
		</title>
		<link rel="stylesheet" href="/style.css">
	</head>
	<body>
		<h1>
			Room ID: <span id="room-id"><%= roomId %></span>
		</h1>
		<div id="join-room"></div>
		<script src="https://unpkg.com/peerjs@1.3.1/dist/peerjs.min.js"></script>
		<script type="module" src="/room.mjs"></script>
	</body>
</html>