:root {
	--default-border-radius: 10px;
	--black-tonality: #333;
	--red-tonality: #F00;
}

* {
	font-family: sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html, body {
	width: 100%;
	height: 100%;
}

#join-room {
	width: 80vw;
	height: 80vh;
	border: solid 1px var(--black-tonality);
	border-radius: var(--default-border-radius);
	margin: auto;
	margin-top: 10vh;
	position: relative;
}

#join-room button {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-size: 2rem;
	padding: 10px;
	border-radius: var(--default-border-radius);

}

#video-holder {
	border: solid 1px var(--black-tonality);
	border-radius: var(--default-border-radius);
	margin: 10px;
	overflow: auto;
}

.video-grid {
	float: left;
	width: 30%;
	height: 30%;
	background-color: var(--black-tonality);
	border-radius: var(--default-border-radius);
	margin: 10px;
}

.video-grid-local {
	background-color: var(--red-tonality);
}

video {
	display: block;
	width: 80%;
	height: 80%;
	border-radius: var(--default-border-radius);
	margin: auto;
}